// Source: https://www.joshwcomeau.com/css/custom-css-reset/
// Customized for personal use.

*, *::before, *::after {
  box-sizing: border-box;
  width: $content-width-mobile;

  @include media-query($screen-width) {
    width: $content-width;
  }
}

* {
  margin: 0;
  line-height: $base-line-height;
  word-wrap: break-word;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}
