$base-font-family: sans-serif !default; // TODO: find reasonable fonts
$code-font-family: monospace !default; // TODO: find reasonable code fonts
$base-font-size: 16px !default;
$small-font-size: 10px !default;
$base-line-height: calc(1em + 0.5rem) !default;
