---
layout: default
parent_url: /blog
---

<div>
  <h1>{{ page.post_title }}</h1>
  <p>
    {% assign author = site.authors | where: 'name', page.author | first %}
    {% if author %}
      Written by: <a href="{{ author.url }}">{{ author.name }}</a> on {{ page.date | date_to_long_string: "ordinal", "US" }}
    {% endif %}
  </p>
  {% if page.updated %}
    <p>Updated: {{ page.updated | date_to_long_string: "ordinal", "US" }}</p> <!--TODO figure out how to make this italic-->
  {% endif %}
</div>
<div>
  {{ content }}
</div>
